#toolbar {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: #ccc;
    text-align: center;
    line-height: 40px;
}
#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #ccc;
}
.color-button {
    width: calc(90vw / 18 - 5px);
    height: 30px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
*:disabled {
    opacity: 50%;
    cursor: not-allowed;
}
.color-button.active {
    border: 5px solid #888;
}
#timer {
    display: inline-block;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: arial;
}

canvas {
    image-rendering: pixelated;
    background-color: white;
}

#info {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    color: black;
    background-color: #ccc;
    text-align: center;
    font-size: 30px;
    z-index: 1;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
}

#info-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

#info-modal-box {
    position: relative;
    margin-top: 40px;
    margin-left: calc(20vw + 40px);
    width: calc(60vw - 80px);
    height: calc(100vh - 80px);
    background-color: white;
    z-index: 3;
    opacity: 1;    
}

#close-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    color: #888;
    text-align: center;
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
}

#modal-content {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

